<section class="nav">
    <ul>
      <li <% if (name === 'drink') { %>class="current" <% } %> ><a href="/">drink</a></li>
      <li <% if (name === 'water') { %>class="current" <% } %> ><a href="/water">water</a></li>
      <li <% if (name === 'coffee') { %>class="current" <% } %> ><a href="/coffee">coffee</a></li>
      <li <% if (name === 'tea') { %>class="current" <% } %> ><a href="/tea">tea</a></li>
    </ul>
  </section>